<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <h1>Registration</h1>
     <input type="text" placeholder="First name" name="first_name"><br>
     <input type="text" placeholder="Last name" name="last_name"><br>
     <input type="text" placeholder="Username" name="username"><br>
    <input type="text" placeholder="Email" name="email"><br>
    <input type="password" placeholder="Password" name="password1"><br>
    <input type="password" placeholder="confirm password" name="password2"><br>
    <input type="submit">



</form>

</body>
</html>